<a href="https://colab.research.google.com/github/Highoncaffiene/Python-Lab/blob/main/unit1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hulk_score = 1000
thor_score = 2003

print(f"the score of hulk is {hulk_score} and the score of thor is {thor_score}")
hulk_score,thor_score = thor_score,hulk_score
print(f"the score of hulk is {hulk_score} and the score of thor is {thor_score}")

the score of hulk is 1000 and the score of thor is 2003
the score of hulk is 2003 and the score of thor is 1000

Thor's hammer weight is 5000(int), but you need to calculate the gravitational foirce which requires it as a flot.

In [ ]:
hammermass = 5000
hammer_weight = hammermass * 9.8
print(f"weight of the hammer is {hammer_weight}")

Hulk's strength level is recorded as a string input "1000". Convert it into an integrer and incrse it by 200

# Swapping two varibles

```

```

Loki gets input in seconds(as strings) "3600". COnvert it itno an integer  and then to hours. Show final result as a float.

In [ ]:
time = "3600"
inttime = int(time)
print(f"Time in hours is {inttime/3600}")

Iron man recorded 7 hits out of 10 shots (both integers). Convert them into float and calculate accuracy percentage.

In [ ]:
hits,total_Shots = 7,10
acc = (hits/total_Shots)*100
print(f"The accuracy percentage is {float(acc)}")

The accuracy percentage is 70.0

# Object Refrencing

# 1 Python varible hold references to objects, not the actual objects themselves.

```
a =[1,2,3]
b=a
print(f"a original is :{a}")
b.append(4)
print(b)

```

In [ ]:
a =[1,2,3]
b=a
print(f"a original is :{a}")
b.append(4)
print(b)
print(a)

a original is :[1, 2, 3]
[1, 2, 3, 4]
[1, 2, 3, 4]

# Reassigning a varible doesn't affect other varibles referencing the same object unless explicitly updated

```
a = [1,2,3]
b=a
b=[4,5,6]

print("a:",a)
print("b",b)
```

In [ ]:
shield = ['vibranium', 'round']
copy_shield = shield

print("original shield is ", shield)
print("wolverine changes the material")
copy_shield[0] = 'adamantium'
print("new_shield", shield)

original shield is  ['vibranium', 'round']
wolverine changes the material
new_shield ['admantium', 'round']

# Removing a varible

In [ ]:
# a = 10
# del(a)
# print(a) This code generates an error because we performed del(a) operation which deleted a

In [ ]:
x = ["Apple", "banana", "orange", "cheery", "mango", "dragon fruit", "tomato"]
print(x)
del(x[2:4])
print(x)

['Apple', 'banana', 'orange', 'cheery', 'mango', 'dragon fruit', 'tomato']
['Apple', 'banana', 'mango', 'dragon fruit', 'tomato']

# Dictionary

You need to calculate the average of the power levels of the favourite avenger character. The output should print to 2 decimal places

In [ ]:
power_levels = [23,235,4354,3463,36363]
if power_levels:
  avg = round(sum(power_levels)/len(power_levels),2)
else:
  avg = 0
print("The average of the power levels is : ", avg)

The average of the power levels is :  8887.6

# String data type
# 1 ordered collection of characters  arranged in a sequence
# 2 string are array of bytes represented in unicode characters
# 3 No seperate character is length of one
# 4 String is reprensted using ' ' or " "  or """ """
# 5 strings are immutable, the keywore used to print a string is str() keyword

**Q Create  a varible s1 = "This is a string" and print s1

In [ ]:
s1 = "This is a string"
print(s1)
s2 = "This" + "is" + "a" + """string"""
print(s2)
# in the code below by using a \ we can  write a single string in multiple line
s3 = "this is an \
 example of string written across multiple line"
print(s3)

This is a string
Thisisastring
this is an  example of string written across multiple line

In [ ]:
hulk = "Hulk: Smash!!\n"
print(hulk*3)

Hulk: Smash!!
Hulk: Smash!!
Hulk: Smash!!

A string can be repeated bye multiplying it by an integer

In [ ]:
batman = "Mission Id #alpha bravo032" # this is not a comment
# including # symbol into a string doen't make it a comment
print(batman)

Mission Id #alpha bravo032

In [ ]:
# length of the string
justiceleague = "BATMAN"
print(len(justiceleague)) # counts space too
print(justiceleague[3])
print(justiceleague[-1])
print(justiceleague[-0]) # 0 and -0 are same in python

# slicing

print(justiceleague[1:4:1]) # 4 is not included, the control goes upto 1 less than the limit
print(justiceleague[-6:-3:1])
print(justiceleague[-1:-7:-1])
for ch in justiceleague:
  print(ch, end = "*")

print(justiceleague[:])

6
M
N
B
ATM
BAT
NAMTAB
B*A*T*M*A*N*BATMAN

**Q** Write a program in python to select the parts of the sequence. These sequences are the token of text.
Example:
token = ["Ironman", "Saves", "the", "day", "again"]

In [ ]:
# print the middle element of the array
token = ["Ironman", "Saves", "the", "day", "again"]
print(token[int(len(token)/2)])

the

Slicing concept is usefull in text preprocessing(NLP) (natural language processing)

It is also used in feature extraction, and sequence models eg: RNN, Transformer, LLM

**Boolean**

In [2]:
print(type(True))

<class 'bool'>

In [9]:
print(10>9>8)
print(10>9<11)
print(10>9<5)
print(10>9 and 9>8)
print(10>9 or 10<9)
print(10>9 and 10<9)
print(not 10>9)
print(not 10<9)

True
True
False
True
True
False
False
True

In [10]:
print(1^0)
y = 20
x = 10
print(x^y)

1
30

Swap two varibles using XOR

In [12]:
a = 2
b =3
a = a^b
b = a^b
a = a^b
print(a,b)

3 2

Find the XOR of two number 10 and 7

In [14]:
a = 10
b = 7
print(a^b)

13

check if XOR is two number is odd or even a = 4, b= 7

In [17]:
a = 4
b = 7
c = a^b
print(c)
if(c%2==0):
  print("Even")
else:
  print("Odd")

3
Odd

Application of XOR:
it is used in bitwise encryption

In [23]:
print(True + True + False)
print(bool([]))
print(bool(" "))

2
False
True

In [30]:
print(all([1,2,3]))
print(all([0,2,3]))
print(any([1,2,3]))
print(any([0,2,3]))
print(any([True, True]))

True
False
True
True
True

In [33]:
marks = [65, 90, 80, 95]
print(any(m>=90 for m in marks))

True